.register {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.register .register-picture {
    float: right;
    width: 500px;
    height: 100px;
}

.register-form {
    width: 400px;
    min-height: 650px;
}

.register-form label {
    font-size: 12px;
    margin: 20px 0px 0px 0px;
}

.register-form #name {
    width: 400px;
    height: 50px;
    background-color: rgba(206, 204, 204, 0.11);
    border: 1px solid black;
}

.register-form #username {
    width: 400px;
    height: 50px;
    background-color: rgba(206, 204, 204, 0.11);
    border: 1px solid black;
}
.register-form #phone {
    width: 250px;
    height: 50px;
    background-color: rgba(206, 204, 204, 0.11);
    border: 1px solid black;
    margin-bottom: 10px;
}

.register-form #password {
    width: 400px;
    height: 50px;
    background-color: rgba(206, 204, 204, 0.11);
    border: 1px solid black;
    margin-bottom: 10px;
}

.register-form #confirm-password {
    width: 400px;
    height: 50px;
    background-color: rgba(206, 204, 204, 0.11);
    border: 1px solid black;
    margin-bottom: 10px;
}

.register-form #checkbox1 {
    padding: 20px;
}

.register-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #000000;
    font-size: 16px;
}
.register-form input{
    padding-left: 10px;
}

.register-form p {
    font-size: 12px;
}

.register-form p a {
    color: #dad55e;
    font-size: 12px;
}